<%- include('partials/header.ejs') %>

<h1>Compose</h1>

<form action="/compose" method="POST">
    <label for="postTitle">Title</label>
    <input type="text" name="newPost" id="postTitle" autocomplete="off">

    <label for="postContent">Post</label>
    <input type="textarea" name="postContent" id="postContent">

    <button class="btn btn-primary" type="submit">Publish</button>
</form>

<%- include('partials/footer.ejs') %>